<form [formGroup]="form" (ngSubmit)="submit()">

  <h2>Login as administrator</h2>

  <div class="form-control">
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email">
    <div *ngIf="email.invalid && email.touched" class="validation">
      <small *ngIf="email.errors?.['required']">Enter email</small>
      <small *ngIf="email.errors?.['email']">Enter valid email</small>
    </div>
  </div>

  <div class="form-control">
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password">
    <div *ngIf="password.touched && password.invalid" class="validation">
      <small *ngIf="password.errors?.['required']">Enter password</small>
      <small *ngIf="password.errors?.['minlength']">
        Password must be at least {{password.errors?.['minlength'].requiredLength}} characters.
        Now he {{password.errors?.['minlength'].actualLength}}
      </small>
    </div>
  </div>

  <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid || submitted">Logon</button>

</form>
